body{
    margin: 0px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(Cool-Soccer-Wallpapers.jpg);
}
header {
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
    float: left;
    text-align: center;
    background-size: contain;
    background-repeat: repeat;
    background-position: 0px 0%;
    background-image: url(1200px-Soccer_ball_transparent.jpg), -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,0.00) 100%);
    background-image: url(1200px-Soccer_ball_transparent.jpg), -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,0.00) 100%);
    background-image: url(1200px-Soccer_ball_transparent.jpg), -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,0.00) 100%);
    background-image: url(1200px-Soccer_ball_transparent.jpg), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,0.00) 100%);
    color: #FF0004;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 0px 0ex;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    border-radius: 50px;
    padding-top: 30px;
}
body table {
    border: thick solid #000000;
    margin-left: auto;
    margin-right: auto;
}
tbody tr th {
    color: #FFFFFF;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-variant: normal;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    height: 50px;
}
tbody tr td {
    color: #FFFFFF;
    border: medium dashed #000000;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: italic;
    font-size: x-large;
    height: 40px;
}
